@use "../utils/variables";

.button-high-priority.button-high-priority--inversed-colors {
  background-color: variables.$main-foreground;
  color: variables.$main-background;
  border-color: variables.$main-background;

  &::after {
    background-color: variables.$main-background;
  }
}

.button-high-priority {
  background-color: variables.$main-background;
  border: toRem(2px) solid variables.$main-foreground;
  padding: toRem(16px) toRem(24px);
  display: flex;
  width: fit-content;
  gap: toRem(20px);
  color: variables.$main-foreground;
  font-family: variables.$main-font;
  font-weight: variables.$f-weight-regular;
  text-transform: uppercase;
  letter-spacing: toRem(3px);
  font-size: toRem(16px);
  line-height: toRem(24px);
  text-decoration: none;
  position: relative;
  align-items: flex-end;
  cursor: pointer;

  @media (max-width: variables.$breakpoint-m-minus-1) {
    font-size: toRem(14px);
    padding: toRem(8px) toRem(16px);
  }

  &::before, &::after {
    content: '';
    position: absolute;
    width: 0%;
    height: toRem(2px);
    top: 50%;
    background: variables.$main-background;
  }

  &::before {
    left: -2.5px;
  }

  &::after {
    right: 2.5px;
    background: variables.$main-foreground;
    transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
    will-change: width;
  }

  @media (pointer: fine) {
    &:hover {
      background: variables.$green;
      color: variables.$main-background;
      border-color: variables.$main-background;
  
      &::before, &::after {
        width: 100%;
      }
  
      &::before {
        background: variables.$main-background;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);  
      }
  
      &::after {
        background: transparent;
        transition: 0s;  
      }
    }
  }

  @media (pointer: coarse) {
    &:active {
      background: variables.$green;
      color: variables.$main-background;
      border-color: variables.$main-background;
  
      &::before, &::after {
        width: 100%;
      }
  
      &::before {
        background: variables.$main-background;
        transition: width 0.5s cubic-bezier(0.22, 0.61, 0.36, 1);  
      }
  
      &::after {
        background: transparent;
        transition: 0s;  
      }
    }
  }

  &__icon {
    flex-shrink: 0;
    display: flex;
  }

  &--expandable {
    max-width: toRem(24px);
    overflow: hidden;
    justify-content: flex-end;
    transition: 300ms ease;
    transition-delay: 150ms;
    transition-property: max-width, color, background;
    will-change: max-width, color, background;

    @media (pointer: fine) {
      &:hover {
        max-width: toRem(500px);
      }
    }

    @media (pointer: coarse) {
      &:active {
        max-width: toRem(500px);
      }
    }
  }
}