@use "../utils/variables";
@use "../utils/functions";

.heading-1 {
  color: inherit;
  margin: 0;
  font-family: variables.$main-font;
  font-weight: variables.$f-weight-regular;
  text-transform: uppercase;

  // Large to XL
  @media (min-width: variables.$breakpoint-l) {
    font-size: #{functions.fluid-typo(256px, 361px, variables.$breakpoint-l, variables.$breakpoint-xl)};
    line-height: #{functions.fluid-typo(304px, 428px, variables.$breakpoint-l, variables.$breakpoint-xl)};
  }

  // Medium to Large
  @media (min-width: variables.$breakpoint-m) and (max-width: variables.$breakpoint-l-minus-1) {
    font-size: #{functions.fluid-typo(149px, 256px, variables.$breakpoint-m, variables.$breakpoint-l)};
    line-height: #{functions.fluid-typo(177px, 304px, variables.$breakpoint-m, variables.$breakpoint-l)};
  }

  // Small to Medium
  @media (min-width: variables.$breakpoint-s) and (max-width: variables.$breakpoint-m-minus-1) {
    font-size: #{functions.fluid-typo(64px, 149px, variables.$breakpoint-s, variables.$breakpoint-m)};
    line-height: #{functions.fluid-typo(80px, 177px, variables.$breakpoint-s, variables.$breakpoint-m)};
  }

  // Less than small
  @media (max-width: variables.$breakpoint-s) {
    font-size: #{functions.fluid-typo(55px, 64px, variables.$breakpoint-xs, variables.$breakpoint-s)};
    line-height: #{functions.fluid-typo(67px, 80px, variables.$breakpoint-xs, variables.$breakpoint-s)};
  }
}

.heading-1--bordered,
.heading-2--bordered,
.heading-3--bordered {
  color: variables.$main-background;
  paint-order: stroke fill;
  -webkit-text-stroke: 4px #f8f9fa;

  // Small to Medium
  @media (max-width: variables.$breakpoint-m) {
    -webkit-text-stroke: 3px #f8f9fa;
  }
}

.heading-2 {
  margin: 0;
  color: inherit;
  font-family: variables.$main-font;
  font-weight: variables.$f-weight-regular;
  text-transform: uppercase;

  // Large to XL
  @media (min-width: variables.$breakpoint-l) {
    font-size: #{functions.fluid-typo(120px, 148px, variables.$breakpoint-l, variables.$breakpoint-xl)};
    line-height: #{functions.fluid-typo(135px, 148px, variables.$breakpoint-l, variables.$breakpoint-xl)};
  }

  // Medium to Large
  @media (min-width: variables.$breakpoint-m) and (max-width: variables.$breakpoint-l-minus-1) {
    font-size: #{functions.fluid-typo(85px, 120px, variables.$breakpoint-m, variables.$breakpoint-l)};
    line-height: #{functions.fluid-typo(98px, 135px, variables.$breakpoint-m, variables.$breakpoint-l)};
  }

  // Small to Medium
  @media (min-width: variables.$breakpoint-s) and (max-width: variables.$breakpoint-m-minus-1) {
    font-size: #{functions.fluid-typo(53px, 85px, variables.$breakpoint-s, variables.$breakpoint-m)};
    line-height: #{functions.fluid-typo(62px, 98px, variables.$breakpoint-s, variables.$breakpoint-m)};
  }

  // Less than small
  @media (max-width: variables.$breakpoint-s) {
    font-size: #{functions.fluid-typo(46px, 53px, variables.$breakpoint-xs, variables.$breakpoint-s)};
    line-height: #{functions.fluid-typo(58px, 62px, variables.$breakpoint-xs, variables.$breakpoint-s)};
  }
}

.heading-3 {
  margin: 0;
  color: inherit;
  font-family: variables.$font-poppins;
  font-weight: variables.$f-weight-medium;

  // Large
  @media (min-width: variables.$breakpoint-l) {
    font-size: #{functions.fluid-typo(40px, 50px, variables.$breakpoint-l, variables.$breakpoint-xl)};
    line-height: #{functions.fluid-typo(48px, 60px, variables.$breakpoint-l, variables.$breakpoint-xl)};
  }

  // Medium to Large
  @media (min-width: variables.$breakpoint-m) and (max-width: variables.$breakpoint-l-minus-1) {
    font-size: functions.toRem(34px);
    line-height: functions.toRem(33px);
  }

  // Small to Medium
  @media (min-width: variables.$breakpoint-s) and (max-width: variables.$breakpoint-m-minus-1) {
    font-size: functions.toRem(26px);
    line-height: functions.toRem(28px);
  }

  // Less than Small
  @media (max-width: variables.$breakpoint-s) {
    font-size: functions.toRem(20px);
    line-height: functions.toRem(22px);
  }
}

.heading-4 {
  margin: 0;
  color: inherit;
  font-family: variables.$font-poppins;
  font-weight: variables.$f-weight-bold;

  // Large
  @media (min-width: variables.$breakpoint-l) {
    font-size: #{functions.fluid-typo(36px, 44px, variables.$breakpoint-l, variables.$breakpoint-xl)};
  }

  // Medium to Large
  @media (min-width: variables.$breakpoint-m) and (max-width: variables.$breakpoint-l-minus-1) {
    font-size: functions.toRem(30px);
  }

  // Small to Medium
  @media (min-width: variables.$breakpoint-s) and (max-width: variables.$breakpoint-m-minus-1) {
    font-size: functions.toRem(24px);
  }

  // Less than Small
  @media (max-width: variables.$breakpoint-s) {
    font-size: functions.toRem(20px);
  }
}

.heading-5 {
  margin: 0;
  color: inherit;
  font-family: variables.$font-poppins;
  font-weight: variables.$f-weight-bold;

  // Large
  @media (min-width: variables.$breakpoint-l) {
    font-size: #{functions.fluid-typo(18px, 22px, variables.$breakpoint-l, variables.$breakpoint-xl)};
  }

  // Medium to Large
  @media (min-width: variables.$breakpoint-m) and (max-width: variables.$breakpoint-l-minus-1) {
    font-size: functions.toRem(16px);
  }

  // Small to Medium
  @media (min-width: variables.$breakpoint-s) and (max-width: variables.$breakpoint-m-minus-1) {
    font-size: functions.toRem(14px);
  }

  // Less than Small
  @media (max-width: variables.$breakpoint-s) {
    font-size: functions.toRem(12px);
  }
}

.body {
  margin: 0;
  color: inherit;
  font-family: variables.$font-poppins;
  font-weight: variables.$f-weight-regular;

  // Large
  @media (min-width: variables.$breakpoint-l) {
    font-size: #{functions.fluid-typo(18px, 22px, variables.$breakpoint-l, variables.$breakpoint-xl)};
  }

  // Medium to Large
  @media (min-width: variables.$breakpoint-m) and (max-width: variables.$breakpoint-l-minus-1) {
    font-size: functions.toRem(16px);
  }

  // Small to Medium
  @media (min-width: variables.$breakpoint-s) and (max-width: variables.$breakpoint-m-minus-1) {
    font-size: functions.toRem(14px);
  }

  // Less than Small
  @media (max-width: variables.$breakpoint-s) {
    font-size: functions.toRem(12px);
  }
}

.body-large {
  margin: 0;
  color: inherit;
  font-family: variables.$font-poppins;
  font-weight: variables.$f-weight-regular;

  // Large
  @media (min-width: variables.$breakpoint-l) {
    font-size: #{functions.fluid-typo(32px, 36px, variables.$breakpoint-l, variables.$breakpoint-xl)};
    line-height: #{functions.fluid-typo(56px, 64px, variables.$breakpoint-l, variables.$breakpoint-xl)};
  }

  // Medium to Large
  @media (min-width: variables.$breakpoint-m) and (max-width: variables.$breakpoint-l-minus-1) {
    font-size: functions.toRem(32px);
    line-height: functions.toRem(56px);
  }

  // Small to Medium
  @media (min-width: variables.$breakpoint-s) and (max-width: variables.$breakpoint-m-minus-1) {
    font-size: functions.toRem(24px);
    line-height: functions.toRem(48px);
  }

  // Less than small
  @media (max-width: variables.$breakpoint-s) {
    font-size: functions.toRem(20px);
    line-height: functions.toRem(36px);
  }
}

.button-text {
  margin: 0;
  color: inherit;
  font-family: variables.$font-poppins;
  font-weight: variables.$f-weight-regular;
  text-transform: uppercase;
  letter-spacing: functions.toRem(3px);
  font-size: functions.toRem(16px);
  line-height: functions.toRem(24px);
}

.caption {
  margin: 0;

  color: inherit;
  font-family: variables.$font-poppins;
  font-weight: variables.$f-weight-regular;
  text-transform: uppercase;
  font-size: functions.toRem(16px);
  line-height: functions.toRem(24px);
}

.label {
  margin: 0;
  color: inherit;
  font-family: variables.$font-poppins;
  font-weight: variables.$f-weight-bold;
  text-transform: uppercase;
  font-size: functions.toRem(12px);
  line-height: functions.toRem(16px);
}