@use "../../app/styles/utils/functions";
@use "../../app/styles/utils/variables";

.TextBox {
    color: variables.$main-foreground;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: functions.toRem(30px);
    box-sizing: border-box;
    gap: functions.toRem(16px);
    position: relative;

    &__Body {
        width: 26ch;
        min-height: 3lh;
    }

    &__Title {
        max-width: 35ch;
    }

    &__Alert {
        position: absolute;
        bottom: functions.toRem(20px);
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        background: variables.$main-background-light;
        color: variables.$main-foreground-light;
        padding: functions.toRem(20px);
        box-sizing: border-box;
    }
}