@use "../../app/styles/utils/functions";
@use "../../app/styles/utils/variables";

.QuestionContainer {
    height: 100vh;
    display: flex;

    &__Details,
    &__Form {
        display: flex;
    }

    &__Details {
        max-width: 40%;
    }

    &__Form {
        flex-grow: 1;
        position: relative;
    }
}