@use "../../app/styles/utils/functions";
@use "../../app/styles/utils/variables";

.ResultsContainer {
    display: grid;
    grid-template-columns: 4fr 4fr 5fr;
    grid-template-rows: 4fr 5fr;
    gap: functions.toRem(20px);
    grid-template-areas: 
      "div1 div1 div2"
      "div3 div4 div5";

    color: variables.$main-foreground-light;
    background: variables.$main-background-light;
    height: 100vh;
    width: 100vw;

    $right-difference: functions.toRem(80px);

    &__Container {
        &TopLeft {
            grid-area: div1;
        }
        &TopRight {
            grid-area: div2;
            margin-bottom: $right-difference;
            display: flex;
            flex-direction: column;
            gap: functions.toRem(16px);
            justify-content: flex-end;
            padding-right: functions.toRem(50px);
            padding-left: functions.toRem(30px);
            padding-bottom: functions.toRem(20px);
        }
        &BotLeft {
            grid-area: div3;
        }
        &BotCenter {
            grid-area: div4;
        }
        &BotRight {
            grid-area: div5;
            margin-top: -$right-difference;
        }
    }
}